{% extends 'shop/base.html' %}

{% block content %}
    <h1>Your Cart</h1>

    {% if cart.products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.products %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.quantity * item.product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>Total: ${{ cart.get_total_price }}</h4>


    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}
