{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1>
                <span style="color: #265e54;">Revitalize Your Life, Embrace the</span>
            </h1>
            <h1 style="color: #38aa95; margin-top: -10px;"> New You</h1>
            <h4 style="color: #265e54; margin-top: 30px;">Recharge your energy and embrace a life of wellness with RevitAge's advanced energy boost. Only for women.</h4>
            <a href="{% url 'shop:shop' %}" class="btn btn-primary rounded-pill" style="background-color: #134f13; margin-top: 10px;">Discover our products</a>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/big_photo.jpg' %}" alt="Wellness Photo" class="img-fluid">
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <hr style="background-color: #265e54; height: 5px; width: 50%; margin: 40px; opacity: 1;">
    </div>

    <h2 style="color: #265e54; margin-top: 40px;">
        Unlock Vitality with RevitAge's 50+ Formula
    </h2>

    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card text-white" style="background-color: #85a59f; border: none; height: 100%;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="card-text" style="color: #fff;">Boost energy levels<br>and stamina</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-white" style="background-color: #85a59f; border: none; height: 100%;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="card-text" style="color: #fff;">Enhance mental focus<br>and clarity</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-white" style="background-color: #85a59f; border: none; height: 100%;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="card-text" style="color: #fff;">Support overall health<br>and wellness</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <hr style="background-color: #265e54; height: 5px; width: 50%; margin: 40px; opacity: 1;">
    </div>

    <h4 class="text-center" style="color: #134f13;">Featured Products</h4>

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/product.jpg' %}" class="card-img-top square-photo" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;">Product 1</h5>
                    <p class="card-text" style="color: #000;">Product description.</p>
                    <a href="{% url 'shop:shop' %}" class="btn btn-primary rounded-pill d-flex align-items-center justify-content-center" style="background-color: #265e54;">
                        SHOP NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/product.jpg' %}" class="card-img-top square-photo" alt="Product 2">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;">Product 2</h5>
                    <p class="card-text" style="color: #000;">Product description.</p>
                    <a href="{% url 'shop:shop' %}" class="btn btn-primary rounded-pill d-flex align-items-center justify-content-center" style="background-color: #265e54;">
                        SHOP NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/product.jpg' %}" class="card-img-top square-photo" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;">Product 3</h5>
                    <p class="card-text" style="color: #000;">Product description.</p>
                    <a href="{% url 'shop:shop' %}" class="btn btn-primary rounded-pill d-flex align-items-center justify-content-center" style="background-color: #265e54;">
                        SHOP NOW
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/ceo.jpg' %}" alt="Maya Cole" class="ceo-photo">
            </div>
            <div class="text-center mt-2">
                <h5>Maya Cole</h5>
                <p style="margin-top: -8px;">Marketing Director</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16" style="color: #265e54;">
                    <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
                </svg>
            </div>
            <div class="text-center">
                <h6 style="color: #265e54; margin-top: 30px;">RevitAge's energy vitamins have been a game-changer for me. As someone leading a busy lifestyle, I needed a natural boost to keep up with my daily activities. Since I started taking RevitAge, I've experienced a significant increase in my energy levels, allowing me to stay focused and productive throughout the day. I highly recommend RevitAge to anyone looking to recharge their energy and embrace a vibrant, fulfilling life."</h6>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <h4 class="text-center" style="color: #134f13; margin-top: 30px;">Latest From Our Blog</h4>

        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/food.jpg' %}" class="card-img-top square-photo" alt="Blog title">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;"><a href="{% url 'shop:blog' %}" style="color: #000; text-decoration: none;">Blog post title</a></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/food.jpg' %}" class="card-img-top square-photo" alt="Blog title">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;"><a href="{% url 'shop:blog' %}" style="color: #000; text-decoration: none;">Blog post title</a></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #fff; border: none; transform: scale(0.7);">
                <img src="{% static 'images/food.jpg' %}" class="card-img-top square-photo" alt="Blog title">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #000;"><a href="{% url 'shop:blog' %}" style="color: #000; text-decoration: none;">Blog post title</a></h5>
                </div>
            </div>
        </div>
    </div>


    <div class="card text-white" style="background-color: #9db7b2; border: none; width: 70%; margin: 0 auto;">
        <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title" style="color: #134f13;">Subscribe to Our Newsletter</h5>
            <form id="newsletter-form" method="post" action="{% url 'shop:subscribe' %}">
                {% csrf_token %}
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control rounded-pill mr-2" style="flex: 1; margin-right: 20px; background-color: #9db7b2; color: rgb(50, 49, 49); border-color: white;" placeholder="First Name" id="first-name-input">
                    <input type="text" class="form-control rounded-pill mr-2" style="flex: 1; margin-right: 20px; background-color: #9db7b2; color: rgb(50, 49, 49); border-color: white;" placeholder="Email Address" id="email-input">
                    <button class="btn btn-success rounded-pill" type="submit" style="background-color: #1b564c; flex:1;">Subscribe</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Logo -->
                    <div class="logo-container">
                        <a href="{% url 'shop:home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"></a>
                    </div>
                    <!-- Text -->
                    <div>
                        <p class="footer-text">Recharge your energy and embrace a life of wellness with RevitAge's advanced energy boost.</p>
                    </div>
                    <!-- Social Icons -->
                    <div class="social-icons mt-2">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <!-- Useful Links -->
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="footer-heading mt-5">USEFUL LINKS</h6>
                            <ul class="footer-links">
                                <li style="list-style-type: none;"><a href="{% url 'shop:about' %}">About Us</a></li>
                                <li style="list-style-type: none;"><a href="{% url 'shop:shop' %}">Products</a></li>
                                <li style="list-style-type: none;"><a href="{% url 'shop:blog' %}">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="footer-heading mt-5">HELP</h6>
                            <ul class="footer-links">
                                <li style="list-style-type: none;"><a href="#">Customer Support</a></li>
                                <li style="list-style-type: none;"><a href="#">Shipping & Delivery</a></li>
                                <li style="list-style-type: none;"><a href="#">Terms & Conditions</a></li>
                                <li style="list-style-type: none;"><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


<style>
    .footer {
        margin-top: 50px;
        padding: 20px 0;
    }

    .footer .footer-heading {
        color: #265e54;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: auto;
    }

    .footer .footer-links li {
        margin-bottom: 40px;
    }

    .footer .footer-links a {
        color: #000;
        text-decoration: none;
    }

    .social-icons a {
        display: inline-block;
        margin-left: 20px;
        margin-right: auto;
        color: #000;
        text-decoration: none;
        font-size: 20px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .footer-text {
        color: #265e54;
        margin-top: 10px;
        text-align: center;
    }

    .mt-5 {
        margin-top: 40px;
    }

    .square-photo {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .ceo-photo {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .ceo-container {
        display: flex;
        justify-content: center;
    }

    .bi-quote {
        margin-left: -10%;
        margin-right: auto;
        margin-top: -30px;
    }   
</style>

<div class="d-flex justify-content-center">
    <hr style="background-color: #e8edf4; height: 2px; width: 70%; margin-top: 50px;">
</div>
<div class="text-center" style="margin-bottom: 50px;">
    <p style="color: #265e54;">&copy; 2023 RevitAge. All rights reserved.</p>
</div>

{% endblock %}
